{% load static %}
{% load nuxt %}
<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %}Nuxt inline + Django{% endblock %}</title>

	{% block head %}{% endblock %}

	{# Injecte automatiquement les balises Nuxt (prod ou dev) #}
	{% nuxt_head 'nuxt-inline' %}
</head>

<body>
	<header>
		{% block header %}{% endblock %}
	</header>

	<main>
		{% block content %}{% endblock %}

		<!-- Exemple de composant ou placeholder Nuxt -->
		<div data-nuxt-component="UserCard" data-props='{"id":123,"size":"sm"}'></div>
		<p>here</p>
		<UserCard :id="123" :size="'sm'" style="width: 20vw;"></UserCard>
	</main>

	{# Injecte les divs et scripts d’initialisation Nuxt #}
	{% nuxt_mount 'nuxt-inline' %}

	{% block scripts %}{% endblock %}
</body>
</html>
